[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bpython = "*"
rope = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
dateparser = "*"
psycopg2-binary = "*"
python-decouple = "*"
records = "*"

[requires]
python_version = "3.7"
